/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.question{
    color: white;
    font-family: 'Gilroy-Regular';
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;    
}