/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import url(./fonts.css);

.logo-m {
    width: 200px;
    height: 200px;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logsignbuttons {
    font-weight: '400';
    gap: 20px;
    color: white;
}